<!doctype html>
<html lang="en">
  <head>
    <!-- Custom styles for this template -->
    <meta name="pdfkit-page-size" content="A3"/>
    <meta name="pdfkit-orientation" content="Landscape"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <!-- Begin page content -->
    <main role="main">
      <div class="container-fluid">
        {{ table }}
      </div>
    </main>
</body>
</html>
