<h1 class="mt-5">{{ table_header }}</h1>
<table class="table">
  <thead>
    <tr>
    {%- for header in report_headers %}
            <th>{{ header }}</th>
    {% endfor -%}
    </tr>
  </thead>
  <tbody>
    {% if not is_dict -%}
        {%- for row in report_data %}
            <tr>
            {%- for header in report_headers %}
                {% set data,color=row[header] %}

                <td style="color: {{ color }};">{{ data }}</td>
            {% endfor -%}
            </tr>
        {% endfor -%}
    {% else %}
        {%- for _, row in report_data.items() %}
            <tr>
            {%- for header in report_headers %}
                {% set data,color=row[header] %}

                <td style="color: {{ color }};">{{ data }}</td>
            {% endfor -%}
            </tr>
        {% endfor -%}
    {%- endif %}
  </tbody>
</table>